* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: #ffc0cb33;
}

html {
    /* background-image: url('./bg2.jpg'); */
    /* background-image: url('./bg3.png'); */
    background-image: url('./bg.jpg');
    background-position: right top;
    background-size: cover;
    font-size: 16px;
    animation: fadeOut 10s 10s infinite;
}

/* @keyframes fadeOut {
    25% {
        background-image: url('./bg2.jpg');
    }

    50% {
        background-image: url('./bg3.png');
    }

    75% {
        background-image: url('./bg.jpg');
    }
} */


section {
    min-height: 100%;
    overflow-y: auto;
    padding: 5vw;
}

@keyframes fade {
    0%{
        background-size:cover ;
    }
    100%{
        background-size:0% 0%;
    }
}

.card {
    width: 100%;
    max-width: 1080px;
    height: 200px;
    margin: 20px auto;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    line-height: 1.5;
    font-weight: bold;

}

.card-title {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 20px;
}


img {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}



.card p {
    color: transparent;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgb(207, 84, 84) 33.3%, rgba(252, 176, 69, 1) 66.6%, rgba(131, 58, 180, 1) 100%);
    background-clip: text;
    background-size: 300% 100%;
    animation: text 4s infinite linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@keyframes text {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -150% 0;
    }
}






.card1 {
    background: linear-gradient(to right, rgba(198, 255, 221, 0.4), rgba(251, 215, 134, 0.4), rgba(247, 121, 125, 0.4));
    backdrop-filter: blur(10px);
}

.card2 {
    background: linear-gradient(to right, rgba(255, 175, 189, .4), rgba(255, 195, 160, .4));
    backdrop-filter: blur(10px);
}

.card3 {
    background: linear-gradient(to right, rgba(12, 235, 235, 0.4), rgba(32, 227, 178, 0.4), rgba(41, 255, 198, 0.4));
    backdrop-filter: blur(10px);
}

.avatar{
    object-fit: cover;
}